<div *ngIf="Trades.length !== 0">
    <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Stock Ticker</th>
              <th scope="col">Price</th>
              <th scope="col">Volume</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Order Time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trade_item of Trades" >
              <td>{{trade_item.id}}</td>
              <td>
              <a [routerLink]="['/trade-list/', trade_item.id]" >{{trade_item.stockTicker}}</a>
              </td>
              <td>{{trade_item.price}}</td>
              <td>{{trade_item.volume}}</td>
              <td>{{trade_item.buyOrSell}}</td>
              <td>{{trade_item.orderTime | date: 'medium'}}</td>
              <td>{{getStatusPhrase(trade_item.statusCode)}}</td>
              <td>
                <a [routerLink]="['/trade-edit/', trade_item.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
                <a [routerLink]="" (click)="deleteTrade(trade_item.id)" class="btn btn-danger btn-sm float-right">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>




