<!--
<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Trade</h3>

    <div class="form-group row">
      <label class="control-label col-md-12">Stock</label>
      <input type="text" [(ngModel)]="tradeDetails.stockTicker" class="form-control">
      <input type="hidden" [(ngModel)]="tradeDetails.stockTicker" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Volume</label>
      <input type="text" [(ngModel)]="tradeDetails.volume" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Price</label>
      <input type="text" [(ngModel)]="tradeDetails.price" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Type (BUY/SELL)</label>
      <input type="text" [(ngModel)]="tradeDetails.buyOrSell" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateTrade()">Save Trade</button>
    </div>

 </div>
 -->

 <div class="center">
<mat-form-field appearance="fill">
  <mat-label>Stock Ticker</mat-label>
  <input matInput [(ngModel)]="tradeDetails.stockTicker">
</mat-form-field>
</div>

<div class="center">
<mat-form-field appearance="fill">
  <mat-label>Price</mat-label>
  <input matInput [(ngModel)]="tradeDetails.price">
</mat-form-field>
</div>

<div class="center">
<mat-form-field appearance="fill">
  <mat-label>Volume</mat-label>
  <input matInput [(ngModel)]="tradeDetails.volume">
</mat-form-field>
</div>

<div class="center">
<mat-form-field appearance="fill">
  <mat-label>Transaction Type</mat-label>
  <mat-select [(ngModel)]="tradeDetails.buyOrSell">
    <mat-option value="buy">Buy Trade</mat-option>
    <mat-option value="sell">Sell Trade</mat-option>
  </mat-select>
</mat-form-field>
</div>


<div class='center'>
<button class="btn btn-primary btn-sm float-right" (click)="updateTrade()">Submit</button>
</div>