<!--
<div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Stock Ticker</th>
              <th scope="col">Price</th>
              <th scope="col">Volume</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Order Time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{tradeDetails.id}}</td>
              <td>{{tradeDetails.stockTicker}}</td>
              <td>{{tradeDetails.price}}</td>
              <td>{{tradeDetails.volume}}</td>
              <td>{{tradeDetails.buyOrSell}}</td>
              <td>{{tradeDetails.orderTime}}</td>
              <td>{{tradeDetails.statusCode}}</td>
            </tr>
          </tbody>
        </table>
</div>
-->

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Trade Details</mat-card-title>
    <mat-card-subtitle>Trade Deal no. {{tradeDetails.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      A {{tradeDetails.buyOrSell}} trade was initiated with {{tradeDetails.stockTicker}} of {{tradeDetails.volume}} for {{tradeDetails.price}} 
      per trade. This trade is currently at status {{tradeDetails.statusCode}}.
    </p>
  </mat-card-content>
  
</mat-card>


