.example-card {
    
    border:5px solid #FFFF00;
    
    
    text-align: center;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5FHuGiX1uuhkJvkawGZBbG7HXgebe50xc4w&usqp=CAU');
    background-size: cover;
  }