<div *ngIf="Portfolio.length !== 0">
    <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Stock Ticker</th>
              <th scope="col">Average Buy Price</th>
              <th scope="col">Average Sell Price</th>
              <th scope="col">Total Stocks Bought</th>
              <th scope="col">Total Stocks sold</th>
              <th scope="col">Volume</th>
              <th scope="col">Position</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let portfolio_items of Portfolio">
              <td>{{portfolio_items.id}}</td>
              <td>{{portfolio_items.ticker}}</td>
              <td>{{portfolio_items.avgBuyPrice}}</td>
              <td>{{portfolio_items.avgSellPrice}}</td>
              <td>{{portfolio_items.stocksBought}}</td>
              <td>{{portfolio_items.stocksSold}}</td>
              <td>{{portfolio_items.volume}}</td>
              <td>{{portfolio_items.position}}</td>
    
            </tr>
          </tbody>
        </table>
      </div>
</div>