.center {
    margin: auto;
    left: 50%;
    top:50%;
    padding: 10px;
    
    text-align: center;
    
    }
:host {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }